
.conteiner_box {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

.conteiner_box_context{
    
}

.conteiner_box h2{ 
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    
}

.conteiner_box span {
    display: block;
    margin: 40px 10px;
    line-height: 1.23;
    font-size: 2ex;
    font-style: italic;
}

.box_context_btn{}



.conteiner_box_list{
    width: 100%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: calc(24px + 16 * (100vw / 1680));
}

.conteiner_box_list h3{
    font-family: 'Robot';
    font-style: normal;
    font-weight: 500;
    padding-left: 10px; 
}

.conteiner_box_list span{
   font-size: 0.5em;
    line-height: 1.4em;
}

.conteiner_box_list ul{
    padding: 15px 0px 0px 33px;
    line-height: 2em;
    font-weight: 500;
    position: relative;
    font-size: 0.5em;
}

.conteiner_box_list ul::before{
    content: "";
    position: absolute;
    top: 18px;
    left: 0px;
    width: 1.5em;
    height: 1.5em;
    background: rgb(241, 114, 114);
    border-radius: 50%;
    padding: 0px 5px 0px 5px; 
    margin-right: 10px;  
}

.conteiner_box_list li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -17px;
    width: 1.5em;
    height: 1.5em;
    background: rgb(233, 162, 141);
    border-radius: 50%;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
}

.conteiner_box_list li{
    font-size: 0.8em;
    position: relative;
    padding: 5px 0px 0px 12px;
}

.conteiner_box_list ul{
      
}

