
.conteiner_box {
    width: 100%;
    padding: 50px 0px;
    background: white;
   
}

.conteiner_box_context{
    text-align: center;
}

.conteiner_box h2{ 
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    
}

.conteiner_box span {
    display: block;
    margin: 40px 10px;
    line-height: 1.23;
    font-size: 2ex;
    font-style: italic;
}

.box_context_btn{
  
}




